target/
**/target/
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
.env
.env.*
!.env.example
*.log
node_modules/
**/node_modules/
.idea/
.vscode/

terraform/tfplan*
